@import './reset.css';
@import '../fonts/fontello/css/fontello.css';

//////// fonts ////////
@font-face {
  font-family: 'NDKaputt';
  src: url('../fonts/NDKaputtOffice-Regular.eot');
  src: url('../fonts/NDKaputtOffice-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NDKaputtOffice-Regular.woff2') format('woff2'),
       url('../fonts/NDKaputtOffice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NDKaputtM';
  src: url('../fonts/NDKaputtOffice-Medium.eot');
  src: url('../fonts/NDKaputtOffice-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NDKaputtOffice-Medium.woff2') format('woff2'),
       url('../fonts/NDKaputtOffice-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NDKaputt';
  src: url('../fonts/NDKaputtOffice-ExtraBold.eot');
  src: url('../fonts/NDKaputtOffice-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NDKaputtOffice-ExtraBold.woff2') format('woff2'),
       url('../fonts/NDKaputtOffice-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

//////// colors ////////

$lat-dark:       rgba(24, 35, 47, 1);
$lat-dark-light: rgba(24, 35, 47, 0.2);

$lat-light:      rgba(232, 236, 255, 1);
$lat-light-dark: rgba(232, 236, 255, 0.2);

$lat-accent:       rgba(68, 120, 240, 1);
$lat-accent-light: rgba(68, 120, 240, 0.2);
$lat-accent-medium: rgba(68, 120, 240, 0.5);

$lat-accent-dark:   rgba(38, 87, 198, 1);

$lat-medium: #20365e;

$lat-green: #5FAD56;
$lat-red: #E5625E;
$lat-yellow: #F4D35E;

$width-mobile: 400px;
$width-tablet: 768px;
$width-desktop: 1190px;

.color-dark {
  color: $lat-dark;
}

.color-light {
  color: $lat-light;
}

.color-accent {
  color: $lat-accent;
}


//////// html elements ////////
* {
  box-sizing: border-box
}
html, body {
  background-color: $lat-dark;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,input,textarea,p {
  font-family: "NDKaputt";
  font-size: 24px;
  line-height: 1.85;
  letter-spacing: 0.05em;
  @media (max-width: $width-tablet) {
    font-size: 16px;
  }
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $lat-accent;
}

a:hover {
  color: $lat-accent;
}

a:active {
  color: $lat-accent !important;
}

.headroom {
  transition-duration: 0.5s;
}

nav {
  z-index: 1000;
  background-color: $lat-dark;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 2.4;
  ul, li {
    display: inline-block;
  }
  li > ul {
    padding-right: 1em;
    @media (min-width: $width-tablet) {
      padding-right: 1.5em;
    }
    a {
      padding-left: 0;
      padding-right: 0;
      color: $lat-accent;
      &:hover {
        opacity: 0.8;
      }
    }
    li + li {
      a::before {
        margin: 0 0.3em;
        content: "/";
        display: inline-block;
        color: $lat-accent;
      }
    }
  }

  a {
    color: $lat-light;
    text-decoration: none;
 
    display: block;
    padding: 1em;
    &:hover {
      opacity: 0.8;
    }
  }
  
}

footer {
  padding: 2em 1em;
  li > ul {
    li + li {
      a::before {
        content: "";
        display: inline-block;
        color: inherit;
      }
    }
  }
  .pull-right {
  }
}

.vertical-line {
  background-color: $lat-accent-light;
  height: 4em;
  width: 2px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6, button, thead {
  font-family: "NDKaputt";
  font-weight: bold;
}

h1 {
  @media (min-width: $width-tablet) {
    font-size: 100px;
  }
  font-size: 38px;
  line-height: 1.13;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2.45;
  margin-bottom: 2em;
}

h3 {
  @media (min-width: $width-tablet) {
    font-size: 56px;
  }
  font-size: 34px;
  line-height: 1;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 32px;
  margin-bottom: 0.2em;
}

p + h1, p + h2, p + h3, p + h4 {
  margin-top: 1em
}

p + button, p + span button {
  margin-top: 0.5em;
}

pre {
  font-size: 18px;
  background-color: inherit;
  font-family: monospace;
  color: $lat-light;
  border: 1px solid $lat-accent-light;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

.light pre {
  color: $lat-medium;
  border-color: $lat-dark-light;
}

ol {
  list-style: decimal inside;
}

article {
  padding: 1em 2em;

  @media (min-width: $width-tablet)  {
    padding: 4em 1em !important; 
  }
 
  border-bottom: 2px solid $lat-accent-medium;

  // Make it possible to nest article without duplicating padding on top
  article:first-of-type {
    padding-top: 0 !important;
  }
  article:last-of-type {
    border-bottom: none;
  }

  &.intro {
    text-align: center;
    h1 {
      margin: 0
    }
    p {
      margin: 1.5em 0;
      margin-top: 1em;
    }
  }
}

.light article {
  border-bottom: none;
}

.section {
  width: 800px;
  margin: 0 auto;
}

//////// container ////////
.public, .dashboard, .docs {
  min-height: 100vh;
}

// container for public, non-logged in content
.public {
  background-color: $lat-dark;
  color: $lat-light;
}

// container for docs
.light {
  background-color: $lat-light;
  color: $lat-dark;
  a {
    text-decoration: none;
    color: $lat-accent;
  }
  nav {
    background-color: inherit;
    ul a {
      color: $lat-dark;
    }

    a:active {
      color: $lat-accent;
    }
  }

  button {
    color: $lat-dark;
    border-color: $lat-dark;
  }

  .tooltip {
    color: $lat-light;
    background-color: $lat-dark;
  }
}

// container for dashboard, logged in content
.dashboard {
  display: table;
  width: 100%;

  > div {
    display: table-cell;
    vertical-align: middle;
    padding: 5em 3em;
    @media (max-width: $width-tablet) {
      > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 10em;
        overflow: scroll;
        padding: 0 1em;
      }
    }
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #plans {
    button {
      color: $lat-light;
      border-color: $lat-accent;
      background-color: $lat-accent;
      opacity: 1;
    }

    .active button {
      color: $lat-accent;
      border-color: $lat-accent;
      background-color: $lat-light;
    }
  }
}


// for all kind of text content
.wrapper {
  max-width: 800px;
  margin: auto;
}

.wrapper-wide {
  max-width: 1100px;
  margin: auto;
}

//////// "stuff" ////////
#app {
  margin: 0px;
  padding: 0;
  min-width: 100%;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: $lat-accent-medium;
  width: 4em;
}

hr.wide { width: 100% }

button {
  cursor: pointer;
  border-radius: 1px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1em 2em;
  color: $lat-light;
  opacity: 0.8;
  border: 1px solid rgba($lat-light, 0.8);
  font-size: 18px;
  letter-spacing: 0.1em;
  &:hover {
    opacity: 1
  }
  &.button-primary {
    opacity: 1;
    border: 1px solid $lat-accent !important;
    background-color: $lat-accent;
    color: $lat-light;
    &:hover {
      background-color: $lat-accent-dark;
    }
  }
}

button:disabled {
  cursor: not-allowed;
}

.public #plans {
  width: 110%;
  margin-left: -5%;
  @media (min-width: $width-desktop) {
    width: 1200px;
    margin-left: inherit;
  }
  .plan-box {
    border-right: 1px solid $lat-light-dark;
    // highres phones and tablets
    @media (min-width: $width-mobile) and (max-width: $width-desktop) {
      width: 50%;
      margin-bottom: 2em;
      &:nth-child(2) {
        border-right: none;
      }
      .plan-title {
        font-size: 34px;
      }
    }
    // lowres phones
    @media (max-width: $width-mobile) {
      width: 100% !important;
      margin-bottom: 2.5em;
      padding-bottom: 2.5em;
      border-bottom: 1px solid $lat-light-dark;
      &:nth-child(1n) {
        border-right: none;
      }
      .plan-info {
        margin-top: 0.5em;
      }
    }
  }
}

#home .plan-home {
  font-size: 18px;
}

#plans {
  width: 100%;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 3em;

  margin-bottom: 2em;

  text-align: center;

  .plan-box {
    &:last-child {
      border-right: none;
    }
    border-right: 1px solid $lat-dark-light;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 28px;
    width: 25%;

    .plan-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 1.1;
      font-weight: bold;
    }
  
   .plan-info {
      margin: 2em 0;
      span {
        display: block
      }
      .plan-price {
        font-weight: bold;
      }
    }
    @media (min-width: $width-mobile) and (max-width: $width-desktop) {
      width: 50%;
      margin-bottom: 2em;
      &:nth-child(2) {
        border-right: none;
      }
      .plan-title {
        font-size: 34px;
      }
    }
  }
}



.plan-box h3 {
  margin-top: 0;
}

.plan-box h4 {
  color: black;
}

.plan-box button {
  display: block;
  margin: auto;
  margin-top: 1em;
}

.font-double {
  font-size: 200%;
}

.active button {
  color: $lat-accent;
  border-color: $lat-accent;
}

.hidden {
  display: none;
}

.fixed-br {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em;
  z-index: 1000;
}

#faq table {
  font-size: 16px;
  // Convert table on mobile
  @media (max-width: $width-tablet) {
    td, th {
      display: inline;
    }

    td:not(:last-of-type):after {
      content: ", "
    }
    td:first-of-type:after {
      content: ": "
    }
  }
  @media (min-width: $width-tablet) {
    tr td { padding-right: 1em; }
  }
  tr {
    border-bottom: 1px solid $lat-accent-light;
  }

  margin-bottom: 2em;
}

#tokens table {
  max-width: 1100px;
  table-layout: fixed;
  font-size: 16px;
  color: rgba($lat-dark, 60%);
  line-height: 1.4;
  margin: 0 auto;

  th {
    font-weight: normal;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid $lat-accent-light;
    margin-right: -5em;
  }
  tr:hover td a {
    display: inline;
    opacity: 1;
  }
  th, td {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    white-space: nowrap;
    vertical-align: middle;
    a {
      @media (min-width: $width-tablet) {
        opacity: 0;
      }
      position: absolute;
      margin-left: 0.75em;
      float: right;
      cursor: pointer;
    }
    &:first-child {
      @media (min-width: $width-tablet) {
        min-width: 30em;
      }
    }
    &:last-child {
      padding-right: 0;
      width: 0%;
    }
  }
  td.token span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
    display: inline-block;
  }
  > div {
    padding: 1em 0;
    text-align: center;
    color: $lat-dark-light;
  }
  .token {
    font-family: monospace;
  }
}


#account {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-left: 250px;
  form {
    padding-left: 2em;
    border-left: 2px solid $lat-accent-light;
    div.form-group:first-child {
      label {
        margin-top: -1em;
      }
      input {
        padding-top: 0;
      }
    }
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    padding-right: 2em;
    ul {
      margin-top: -0.5em;
      li {
        white-space: nowrap;
        display: block;
        text-align: right;
        a {
          display: inline-block;
          padding: 0;
        }
      }
    }
  }
  button {
    margin-top: 3em;
    min-width: 100%;
  }
}

.accent {
  color: $lat-accent;
}

//// forms /////
.form-group {
  position: relative;

  input {
    position: relative;
    z-index: 0;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 1;
    color: $lat-dark;
  }
  .button-nude {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 1em;
  }
}

.form-group + .form-group {
  margin-top: 1.5em;
}

.button-nude, .checkbox {
  display: block;
  font-size: 16px;
  padding: 1.5em 0;
  cursor: pointer;
  &:hover {
  }
  input[type=checkbox] {
    display: inline;
    min-width: inherit;
    margin-right: 0.75em;
  }
}

input:not([type='checkbox']), textarea {
  min-width: 100%;
  color: $lat-dark;
  outline: none;
  display: block;
  margin: 0;
  background-color: inherit;
  border: none;
  font-size: 18px;
  line-height: 1;
  padding: 0.75em 0;
  border-bottom: 2px solid rgba(68, 120, 240, 0.2);
}

.control-label {
  pointer-events: none;
  opacity: 0;
  transition: 0.2s ease all;
}

// input:focus ~ .control-label,
.control-label-up {
  opacity: 0.8;
}

form {
  font-size: 18px;
  input {
    display: block;
  }
}

.login {
  max-width: 480px;
  .alert {
    margin-bottom: 1em;
    padding: 1em;
  }
}

a.active {
  color: $lat-accent !important;
  font-weight: bold;
}

.tooltip {
  display: none !important;
  position: absolute;
  padding: 1em;
  color: $lat-dark;
  background-color: $lat-light;
  .tooltip-trigger:after {
    content: 'i'
  }
}

.tooltip-trigger:hover +  .tooltip {
  display: inherit !important;
}

.button-bar {
  button + button {
    margin-left: 1em;
  }
}

.material-icons {
  font-size: 100px;
}

.alert-slidein {
  font-size: 18px;
  position: fixed;
  padding: 1em;
  width: 100%;
  text-align: center;
  bottom: 0;
  animation-duration: 1s;
  animation-name: slidein;
  z-index: 2000;
}

@keyframes slidein {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideout {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

.alert-danger {
  background-color: $lat-red;
}

.alert-success {
  background-color: $lat-green;
}

.alert-unknown,.alert-warning {
  background-color: $lat-yellow;
}

@media (min-width: $width-tablet) {
  .text-large {
    font-size: 34px;
    line-height: 1.75;
  }
}

.markdown {
  // similar to .section
  h1 {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid $lat-accent-medium;
    span {
      display: block;
      max-width: 1100px;
      margin: 0 auto;
    };
  }
  h2:not(:first-of-type) {
    border-top: 2px solid $lat-accent-medium;
    max-width: inherit;
  }

  hr.wide {
    width: 100%;
    margin: 4em 0;
  }
  ol li {
    margin: 0.5em 0;
  }
  ul {
    list-style: square inside;
    margin-bottom: 1em;
  }
  img {
    margin: 1em 0;
  }
  code {
    font-family: monospace;
  }
  strong {
    font-weight: bold;
  }
	li ul li {
	    margin-left: 1em;
	}
}

input:-webkit-autofill {
  background-color: $lat-dark-light;
}

#configuration-view {
  margin: 0 auto;
  max-width: 1100px;
  p {
    padding-bottom: 0.5em;
    margin: none;
  }

  h4:not(:first-of-type) {
    margin-top: 2em;
  }

  @media (max-width: $width-tablet) {
    nav {
      display: none;
    }
  }
  @media (min-width: $width-tablet) {
    > div {
      margin-left: 250px;
    }
    article {
      padding-left: 2em !important;
    }

    nav {
      position: fixed;
      width: 250px;
      text-align: right;
      a {
        padding-top: 0;
        padding-bottom: 0;
      }
      .active a {
        color: $lat-accent !important;
      };

      li {
        display: block;
        border-right: 2px solid $lat-accent-light;
        padding-right: 2.5em;
      }
      li.active {
        border-color: $lat-accent;
      }
    }
  }
  textarea, input {
    color: $lat-accent;
    &::-webkit-input-placeholder { color: $lat-accent-medium }
    &::-moz-placeholder { color: $lat-accent-medium }
    &:-moz-placeholder { color: $lat-accent-medium }
    &:-ms-input-placeholder { color: $lat-accent-medium }
  }

  label {
    display: block;
    cursor: pointer;
    padding: 0.5em 0;
  }
  label:hover {
    opacity: 0.8
  }
 
  .satellite {
    border-bottom: 2px solid $lat-accent-light;
  }
  .module {
    margin-bottom: 1em;
    line-height: 1.6;
  }
}

.dashboard #configuration-view nav {
  width: inherit;
  margin: auto;
  top: 16em;
  left: 50%;
  margin-left: -500px;
}

#faq {
  p {
    padding-bottom: 1em;
  }
}

.panel {
  border-bottom: 2px solid $lat-accent-light;
  .panel-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 1000;
    background-color: $lat-dark;
  }

  .panel-hide, .panel-show {
    color: $lat-light;
    display: block;
    padding: 1em 0;
    @media (min-width: $width-tablet) {
      font-size: 32px;
    }
    line-height: 1.375;
    font-weight: bold;
  }
  
  .panel-hide::after, .panel-show::after {
    font-size: 19px;
    margin-top: 8px;
    margin-right: 10px;
    float: right;
  }
  .panel-hide::after {
    content: '\25B2'
  }

  .panel-show::after {
    content: '\25BC';
  }
  
  .panel-hide {
    display: none;
  }
  
  .panel-show:target + .panel-hide {
    display: block;
  }
  
  .panel-show:target {
    display: none;
  }
  
  .panel-show:target ~ .panel-content {
    // transition doesn't work with height: inherit
    // so we're using max-height as workaround
    max-height: 1000px;
    margin-bottom: 1em;
  }
}
.dashboard .panel {
  .panel-content {
    background-color: $lat-light;
  }
  .panel-hide, .panel-show {
    color: $lat-dark;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.abs-tl {
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
}

.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-user {
  position: fixed;
  z-index: 0;
  font-size: 16px;
  @media (min-width: $width-tablet) {
    font-size: 18px;
    padding-top: 1em;
    padding-left: 2em;
    .notice {
      margin: 2em;
      margin-left: 25px;
      padding-left: calc(25px + 1em);
      clear: both;
      border-left: 2px solid $lat-accent-light;
      width: 20em;
    }
  }
  @media (max-width: $width-tablet) {
    .gravatar span {
      display: none;
    }
  }
  letter-spacing: 0;
  .gravatar {
    height: 50px;
    span {
      position: fixed;
      line-height: 50px;
      margin-left: 1em;
    }
  }
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background-color: $lat-light;
  font-size: 18px;
}


.center {
  text-align: center;
  margin: auto;
}

.cta {
  width: 20em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.input-number {
  display: table;
  vertical-align: middle;
  font-size: 32px;
  margin-left: -1em;
  span, input {
    display: table-cell;
    cursor: pointer;
  }
  span {
    color: $lat-accent;
    padding: 0 1em;
    user-select: none;
  }
  span:active {
    opacity: 0.5;
  }
  input {
    font-size: 24px;
    color: $lat-light;
    text-align: center;
    width: 4em;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
.dashboard .input-number input {
  color: $lat-dark;
}

@media (max-width: $width-tablet) {
  .mobile-br {
    display: block;
  }
  .mobile-block {
    display: block;
    margin: 0 !important;
    margin-bottom: 1em !important;
    width: 100%;
  }
}

// pace theme
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $lat-accent;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

header nav {
  .burger {
    display: none;
    width: 5em;
    z-index: 3500;
    padding: 1.25em;
    cursor: pointer;
    .burger-line {
      background-color: $lat-light;
      display: block;
      height: 0.25em;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin: 0.25em auto;
    }
  }
  &.nav-show .burger {
    .burger-line:nth-child(2) {
      opacity: 0;
    }
    .burger-line:nth-child(1) {
      -webkit-transform: translateY(0.5em) rotate(45deg);
      -ms-transform: translateY(0.5em) rotate(45deg);
      -o-transform: translateY(0.5em) rotate(45deg);
      transform: translateY(0.5em) rotate(45deg);
    }
    .burger-line:nth-child(3) {
      -webkit-transform: translateY(-0.5em) rotate(-45deg);
      -ms-transform: translateY(-0.5em) rotate(-45deg);
      -o-transform: translateY(-0.5em) rotate(-45deg);
      transform: translateY(-0.5em) rotate(-45deg);
    }
  }
  &.nav-show .burger span {
  }
}

header nav ul {
}

@media (max-width: $width-tablet) {
  .dashboard {
    header nav ul {
      margin-top: 4em;
      li.abs-tr {
        margin-top: -5em;
      }
    }
  }
  .public {
    header nav > ul:not(.navbar-brand) {
      transition: max-height 0.3s ease-in-out;
      display: none;
    }
    header nav.nav-show ul {
        display: block;
    }
    .burger {
      display: inherit !important;
    }
    header nav ul {
      li {
        display: block;
        &.abs-tr {
          position: inherit;
          ul {
            padding: 0
          }
          a::before {
            content: "";
            display: inline;
          }
        }
      }
    }
  }
}

.systems {
  width: 80%;
  margin: 3em auto 0 auto;
  a {
    display: inline-block;
    width: 20%;
    img {
      width: 100%;
      max-width: 210px;
      padding: 1em;
    }
  }
  text-align: center;
}

.logos {
  width: 80%;
  margin: 3em auto 0 auto;
  a {
    display: inline-block;
    width: 33%;
    img {
      width: 100%;
      max-width: 210px;
      padding: 1em;
    }
  }
}
.docs {
  nav {
    ul {
      display: block !important;
      li, a {
        display: inline-block !important;
      }
    }
  }
}
aside {
  font-size: 75%;
	font-style: italic;
  line-height: 1.2 !important;
  margin: 1em 0 1em 2em;
  text-align: right;
}
